<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_selflearning"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_selflearning_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alumnos"
        tools:targetApi="31">
        <activity
            android:name="com.example.alumnos.AdminInicio"
            android:exported="false" />
        <activity
            android:name="com.example.alumnos.AdminUsuarios"
            android:exported="false" />

        <activity
            android:name="com.example.alumnos.AdminPropuestas"
            android:exported="false" />
        <activity
            android:name="com.example.alumnos.Secundaria"
            android:exported="false" />

        <activity
            android:name="com.example.alumnos.EscolarActivity"
            android:exported="false" />

        <activity
            android:name="com.example.alumnos.CrearPropuesta"
            android:exported="false" />
        <activity
            android:name="com.example.alumnos.MaterialDeAyuda"
            android:exported="false" />


        <activity
            android:name="com.example.alumnos.AgregarActivity"
            android:exported="false" />

        <activity
            android:name="com.example.alumnos.SemestreActivity"
            android:exported="false" />
        <activity
            android:name="com.example.alumnos.RecuperarActivity"
            android:exported="false" />

        <activity
            android:name="com.example.alumnos.Materias"
            android:exported="false" />
        <activity
            android:name="com.example.alumnos.PaginaunoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.alumnos.RegistroActivity"
            android:exported="false" />
        <activity
            android:name="com.example.alumnos.InicioActivity"
            android:exported="false" />
        <activity
            android:name="com.example.alumnos.AdminCrearPropuesta"
            android:exported="false" />
        <activity
            android:name="com.example.alumnos.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>